@mixin heading-styles {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  line-height: calc(1em * var(--line-height));
  color: inherit;
  //margin-bottom: 0.25em;
}

.heading1 {
  font-size: 4rem;
  @include heading-styles;
  letter-spacing: 0;

  @media only screen and (min-width: 769px) {
    font-size: 4.6rem;
  }
}

.heading2 {
  font-size: 2.8rem;
  @include heading-styles;
  letter-spacing: 0;

  @media only screen and (min-width: 769px) {
    font-size: 3.3rem;
  }
}

.heading3 {
  font-size: 2rem;
  @include heading-styles;
  letter-spacing: 0;

  @media only screen and (min-width: 769px) {
    font-size: 2.3rem;
  }
}

.heading4 {
  font-size: 2rem;
  @include heading-styles;
  letter-spacing: 0;

  @media only screen and (min-width: 769px) {
    font-size: 2.3rem;
  }
}

.body {
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}

.overline {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
