.hero {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
}

.heroPreTitle {
  position: relative;
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 4rem;
  line-height: 1em;
  color: var(--colors-primary);
}

.heroTitle {
  font-family: "Playfair Display", sans-serif;
  font-size: 10rem;
  line-height: 1em;
}

.heroDesc {
  position: relative;
  font-size: 2rem;
  line-height: 1em;
}
